body {
  margin: 0;
  color: white;
  background: black;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  justify-content: center;
}

.subheader {
  font-size: smaller;
  margin-left: 6px;
  margin-right: 6px
}

.userInfo {
  float: left;
}

.versionInfo {
  float: right;
  font-size: 14px;
  margin-right: 2px;
}

h1 {
  text-align: center;
}

.logoutButton {
  font-weight: 800;
  text-decoration: none;
  font-weight: normal;
  color: red;
  margin-left: 20px
}

.buttonPanel {
  position: absolute;
  right: 0;
  bottom: 0;
}

button {
  border-radius: 48px;
  border: 1px solid transparent;
  padding: 0.4em 0.6em;
  margin: 2px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #4a4a4a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

ul {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  list-style-type: none;
  margin: 8px 0;
  border: 1px solid black;
  gap: 1px;
  background-color: black;
  border-radius: 8px;
  overflow: auto;
}

/*
  application menu
*/

.appMenu {
  float: left;
  z-index: 50;
  position: absolute;
}

.appMenu img {
  margin-left: 6px;
  width: 16px
}

/* user menu */

.userMenu {
  float: right;
  z-index: 50;
  right: 0px;
  top: 0px;
  position: absolute;
}

.userMenu img {
  margin-right: 6px;
  margin-top: 6px;
  width: 24px;
}

.userMenu a {
  color: -webkit-link;
  padding: 8px;
}

/*
  Page structure
*/

.pageTitle {
  text-align: center;
  color: black;
  font-weight: bold;
  background: #e0e0e0;
  border: 1px solid black;
  border-radius: 6px;
  padding: 6px;
  margin: 1px;
}

/*
  activityList.tsx
*/

.entityList {
  background-color: white;
  overflow: auto;
  height: 80vh;
  flex: 1;
  margin-top: 0px;
  margin-left: 1px;
  margin-right: 1px;
}

.entityListElement {
  border-radius: 8px;
  margin-top: 2px;
  margin-left: 2px;
  margin-right: 2px;
  padding: 1px;
  color: black;
  border: none;
  background-color: #e0e0e0;
  overflow: hidden;
}

.entityDateTime {
  margin-left: 5px;
  font-weight: bold;
}

.entityPerson {
  margin-left: 6px;
  margin-right: 6px;
  padding-top: 6px;
  float: left;
  font-weight: bold;
}

.entityType {
  margin-left: 6px;
  margin-right: 6px;
  padding-top: 6px;
  float: left;
}

.entityExp {
  float: right;
  text-align: right;
  margin-right: 5px;
  font-size: 20px;
}

.workRequestUrgency {
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  font-weight: bold;
}

.activityComment, .workRequestInstructions {
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  font-style: italic;
}

.workItemCompletness {
  float: right;
}

.validationMessage {
  color: red;
}

.reactions {
  margin-left: 3px;
  margin-right: 3px;
}

/* ActivityDetails */

.entryDetails {
  overflow: scroll;
  height: 80vh;
  margin-left: 2px;
  margin-right: 2px;
  background-color: #e0e0e0;
  color: black;
  padding: 6px;
  border-radius: 6px;
}

.verticalFill {
  min-height: 64px;
}

.commentTextArea {
  white-space: pre;
}

.reactionsPopup {
  z-index: 10;
  position: fixed;
  margin: auto;
  height: 100 vh;
  width: 100 vw;
}
/* ActivityAdd */

.label {
  font-weight: bold;
  clear: both;
  margin-top: 12px;
}

p {
  margin: 0;
}

.templateActivities img {
  border: 1px solid grey;
  background-color: lightgrey;
  border-radius: 6px;
  margin-right: 2px;
}

.entityTextArea {
  width: 100%;
    padding: 5px;
    margin-right: 0;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;     
}

li {
  background-color: white;
  padding: 8px;
}

li:hover {
  background: #dadbf9;
}

a {
  font-weight: 800;
  text-decoration: none;
}

h1 {
  font-size: 12pt;
}

.loadingData {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
}

/* Exp stats */

table {
    margin-left: 4px;
    margin-right: 4px;
    color: black;
    border-collapse: collapse;
}

.summaryTable {
  margin-top: 4px;
  margin-bottom: 4px;
}

th, tr, td {
    border: 1px solid black;
}

td, th {
  padding: 4px;
  text-align: center;
}

.statsHeader {
    color: black;
    margin-top: 12px;
    margin-left: 4px;
    margin-right: 4px;
    font-weight: bold;
    font-size: larger;
}

.statsHint {
  color: black;
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 12px;
}

.rotated90 {
    writing-mode: vertical-lr;
}

.expSummaryChart {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.basicExpChart {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.accumulatedExpChart {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* About */

.richText {
    color: black;
    overflow: auto;
    height: 80vh;
    flex: 1;
    margin-top: 0px;
    margin-left: 1px;
    margin-right: 1px;
}

.richText .label {
    margin-left: 8px;
}

ul.richText {
    background: white;
}

.richText ul {
    border: none;
    border-radius: 0;
}

